<div class="flex items-center justify-center text-center ">

  <div>
    <h1 class="text-yellow-600 font-bold text-5xl md:text-7xl fade-in">
{{t('HERO_TITLE')}}
    </h1>

    <h1 class="text-white text-2xl md:text-4xl mt-3 fade-in fade-in-delay-1">
        {{ t('HERO_SUBTITLE') }}
    </h1>

    <h1 class="text-white text-lg md:text-2xl mt-2 text-yellow-600 fade-in fade-in-delay-2">
        {{ t('HERO_SUBTITLE_2') }}
    </h1>

    <br>

    <p class="text-white font-bold fade-in fade-in-delay-3">
       {{ t('HERO_DESC') }}
    </p>
  </div>

</div>

<router-outlet></router-outlet>