:host {
  display: block;
  background-color: #0a0a0a;
}

// تخصيص شكل الـ Scrollbar ليتماشى مع الثيم الغامق
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

// تأثير بسيط عند التحويم على الكروت
.group:hover {
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.05);
}
i.pi-star-fill, i.pi-star {
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent; // لمنع الوميض الأزرق في الموبايل
    
    &:focus, &:active {
        background: transparent !important;
        outline: none !important;
    }
}

// إذا كانت الأيقونة داخل Button، نحتاج لإلغاء ستايل الزر نفسه عند الفوكس
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
// في ملف الـ CSS
i:focus-visible {
    filter: drop-shadow(0 0 8px rgba(255, 204, 0, 0.8));
    transform: scale(1.1);
}