<div class="page-fade-in">
  <!-- كل الصفحة هنا -->


<div class="text-center space-y-2 mb-6">
  
  <h1 class="text-5xl text-yellow-600 font-bold">
    Live Gold Prices
  </h1>

  <p class="text-2xl text-gray-200">
    Real-time updates of gold prices in the global market
  </p>

  <div class="flex items-center justify-center gap-2 pt-2">
    
    <!-- green dot -->
    <span class="relative flex h-3 w-3">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
    </span>

    <!-- live text -->
    <span class="text-green-400 font-semibold text-sm">
      LIVE
    </span>

    <!-- time ago -->
    <span class="text-gray-400 text-sm">
      • {{ timeAgo() }}
    </span>

  </div>
</div>
 
 <div class="gold-prices-container">
    <div class="header-row grid-row">
      <div class="col-type">TYPE</div>
      <div class="col-center">BID</div>
      <div class="col-center">SPREAD</div>
      <div class="col-center">ASK</div>
      <div class="col-right">CHANGE</div>
    </div>

<div class="cards-wrapper"> 
    <div *ngFor="let item of goldPrices()" class="price-card grid-row">
      
      <div class="col-type">
        <div class="icon-badge" [ngClass]="'purity-' + item.purity">
          <i class="pi pi-briefcase"></i> </div>
        <div class="type-details">
          <span class="gold-name">{{ item.nameEn }}</span>
          <span class="subtitle">CURRENT PRICE</span>
        </div>
      </div>

      <div class="col-center">
        <div class="price-box bid-bg">
          <span class="price-value">{{ item.currentBuyPrice | number:'1.2-2' }}</span>
          <span class="currency">EGP</span>
        </div>
      </div>

      <div class="col-center">
        <div class="price-box spread-bg">
          <span class="price-value">{{ (item.currentSellPrice - item.currentBuyPrice) | number:'1.2-2' }}</span>
          <span class="currency">EGP</span>
        </div>
      </div>

      <div class="col-center">
        <div class="price-box ask-bg">
          <span class="price-value">{{ item.currentSellPrice | number:'1.2-2' }}</span>
          <span class="currency">EGP</span>
        </div>
      </div>

      <div class="col-right">
        <div class="change-badge positive">
          <span class="percent">+0.83%</span>
          <span class="amount">+60.00</span>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>